{{ partial "header.html" . }}
<body>
    {{ partial "navbar.html" . }}
    <div class="main wrapper clearfix">
        <article class="h-entry">
            <h1 class="p-name"><a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <div class="post-content e-content">
                <a href="{{ .Params.media_url }}"><img src="{{ .Params.media_url }}"></a>
                {{ if .Params.text }}
                <p>{{ .Params.text | markdownify }}</p>
                {{ end }}
      <div class="post-meta">
        <a href="{{ default .Params.original_url .Params.src }}">{{partial "social_logo" . }}</a>&middot;
        <a href="{{ .Permalink }}">{{.Date.Format "2006-01-02" }}</a>&middot;
        {{ if .Params.location_latitude }}
        <a href="https://www.openstreetmap.org/search?query={{.Params.location_latitude }},{{.Params.location_longitude }}">🌐</a>
        {{ end }}
        {{ partial "tags.html" . }}
        <div><a href="/posts/pixelfed/">/posts/pixelfed/</a></div>
      </div>
            </div>
            <time class="hidden dt-published" datetime="{{ $.Date }}">{{ .Date.Format "02. January 2006" }}</time>
            <a class="p-author h-card hidden" href="https://bascht.com"><img class="u-photo hidden" src="/images/bascht.jpg"/>Bascht</a>
            {{ partial "webmentions.html" . }}
            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            <h3>Ähnliche Beiträge</h3>
            <ul>
	              {{ range . }}
	              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	              {{ end }}
            </ul>
            {{ end }}
        </article>
    </div>
    {{ partial "pager.html" . }}
    {{ partial "footer.html" . }}
</body>
</html>
