{{ partial "header.html" . }}
<body>
  {{ partial "navbar.html" . }}
  <div class="main wrapper clearfix">
    <h1>{{ .Title }}</h1>
    <article>
      <div class="post-content">
        {{ .Content }}
      </div>
    </article>
    <aside>
      <h4>Post vom</h4> {{ .Date.Format "02. January 2006" }}
      <h4>Tags</h4> {{ partial "tags.html" . }}
      <hr/>
      📂 <a href="/blog/">Blog-Archiv</a>
    </aside>
  </div>
  {{ partial "pager.html" . }}
  {{ partial "footer.html" . }}
</body>
</html>
