{{ partial "header.html" . }}
<body>
    {{ partial "navbar.html" . }}
    <div class="main wrapper clearfix">
        <article class="h-entry">
            <h1 class="p-name"><a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <div class="post-content e-content">
                <a href="{{ .Params.media_url }}"><img src="{{ .Params.media_url }}"></a>
                <br/>
                Originally posted to <a class="u-syndication syn-link" rel="syndication" href="{{ .Params.original_url }}">{{ .Params.original_url }}</a>
            </div>
            <time class="hidden dt-published" datetime="{{ $.Date }}">{{ .Date.Format "02. January 2006" }}</time>
            <a class="p-author h-card hidden" href="https://bascht.com"><img class="u-photo hidden" src="/images/bascht.jpg"/>Bascht</a>
            {{ partial "webmentions.html" . }}
            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            <h3>Ähnliche Beiträge</h3>
            <ul>
	              {{ range . }}
	              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	              {{ end }}
            </ul>
            {{ end }}
        </article>
        <aside>
            <h4>Posted</h4> <span class="dt-published">{{ .Date.Format "January, 02th 2006" }}</span>
            <h4>Tags</h4> {{ partial "tags.html" . }}
            <hr/>
            <a href="/posts/instagram/">Instagram Archive</a>
        </aside>
    </div>
    {{ partial "pager.html" . }}
    {{ partial "footer.html" . }}
</body>
</html>
