{{ partial "header.html" . }}
<body>
  {{ partial "navbar.html" . }}
  <div class="main wrapper clearfix">
      <h1><span class="social_logo">{{ partial "social_logo" . }}</span>{{ .Title | truncate 50 }}</h1>
    <article>
      <div class="post-content">
        {{ .Content -}}
        <blockquote>{{ .Params.text }}</blockquote>
        <hr/>
        <dl>
          <dt>URL:</dt><dd><a href="{{ .Params.original_url }}">{{ .Params.original_url }}</a><dd>
          <dt>Bookmarked at</dt> <dd><a href="{{ .Params.src }}">{{ .Params.src }}</a></dd>
        </dl>
      </div>

      {{ partial "webmentions.html" . }}
    </article>
    <aside>
      <h4>Posted</h4> {{ .Date.Format "January, 02th 2006" }}
      <h4>Tags</h4> {{ if .Params.Tags }}{{ partial "tags.html" . }}{{ end }}
      <hr/>
      📂 <a href="/posts/pinboard/">Pinboard-Archive</a>
    </aside>
  </div>
  {{ partial "pager.html" . }}
  {{ partial "footer.html" . }}
</body>
</html>
