@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/eot/FiraMono-Regular.eot');
    src: local('Fira Mono'),
    url('../fonts/eot/FiraMono-Regular.eot') format('embedded-opentype'),
    url('../fonts/woff/FiraMono-Regular.woff') format('woff'),
    url('../fonts/ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/eot/FiraMono-Bold.eot');
    src: local('Fira Mono Bold'),
    url('../fonts/eot/FiraMono-Bold.eot') format('embedded-opentype'),
    url('../fonts/woff/FiraMono-Bold.woff') format('woff'),
    url('../fonts/ttf/FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabregular';
    src: url('../fonts/eot/roboto_slab.eot');
    src: url('../fonts/eot/roboto_slab.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff/roboto_slab.woff') format('woff'),
    url('../fonts/ttf/roboto_slab.ttf') format('truetype'),
    url('../fonts/svg/roboto_slab.svg#roboto_slabregular') format('svg');
    font-weight: normal;
}
    
h1, h2, h3, h4, h5, nav#main { 
    font-family: "roboto_slabregular";
}

body { 
    background-image:url('../images/main_background_light.png');
    background-repeat:repeat-x;
    font-family: 'Fira Mono';
}
header {
    font-family: "roboto_slabregular";
}

header div.logo h1 {
    font-size: 2.5em;
    margin-bottom: 0;
    margin-top: 1.5em;
}

header div.logo h1 a {
    text-decoration: none;
    color: inherit;
}

header div.logo h1 .shell {
    color: #ABABAB;
}


header #logo #slogan {
    font-size: 0.6em;
    margin-top: 0;
}

a { color: #882211; }
a:hover { color: #a71000; }
a:visited { color: none; }

div.post-content img,
div.highlight,
article video,
article img {
    padding: 0.5em;
    border: 1px solid #CDCDCD;
}
div.post-content img,

article video,
article img {
    margin: 0.8em;
    max-width: 100%;
}

footer ul li {
    color: #CDCDCD;
    display: inline;
    margin-right: 2em;
}

footer ul li a {
    color: #ABABAB;
}

div.main .teaser, 
div.main aside {
    border: 1px solid #d8d8d8;
    background-color: #f2f2f2f2;
}

div.main .teaser {
    padding: 1em;
    margin: 3em;
}


article.summary {
    width: 100%
}

aside article {
    margin-bottom: 1em;
}

article blockquote {
    border-left: 1px solid #CDCDCD;
    padding-left: 2em;
    margin-left: 0;
    color: #818181;
}

aside article h2 {
    font-size: 1.2em;
    margin-top: 0;
}

nav#main ul li a {
    font-weight: normal;
    border-radius: 3px;
    padding: 0 1em 0 1em;
}
nav#main ul li.active a {
    background-color: rgb(34, 34, 34);
}

.noborder * {
    border: 0 !important;
}

div.pager {
    text-align: center;
}

div.pager a {
    text-decoration: none
}

article.summary .post-meta {
    color: #cdcdcd;
}

article.summary a.anchor {
    text-decoration: none;
}

.tech-notes a {
    width: 15em;
    padding: 1em;
    margin: 1em;
    float: left;
    height: 200px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;

    overflow: hidden;
    text-decoration: none;
    color: inherit;

    background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 100%);
}


.tech-notes a:hover {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 31%);
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 31%);
    background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 31%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
}
