@font-face {
    font-family: 'roboto_slabregular';
    src: url('../fonts/eot/roboto_slab.eot');
    src: url('../fonts/eot/roboto_slab.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff/roboto_slab.woff') format('woff'),
    url('../fonts/ttf/roboto_slab.ttf') format('truetype'),
    url('../fonts/svg/roboto_slab.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, nav#main {
    font-family: "roboto_slabregular";
}

body {
    background-image:url('../images/main_background_light.png');
    background-repeat:repeat-x;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
div.logo {
    font-family: "roboto_slabregular";
}

header div.logo h1 {
    font-size: 2.5em;
    margin-bottom: 0;
    margin-top: 1.5em;
}

header div.logo h1 a {
    text-decoration: none;
    color: inherit;
}

header div.logo h1 .shell {
    color: #ABABAB;
}


header #logo #slogan {
    font-size: 0.6em;
    margin-top: 0;
}

a { color: #882211; }
a:hover { color: #a71000; }
a:visited { color: none; }

div.post-content img,
div.stream img,
div.highlight,
article video,
article img {
    padding: 0.5em;
    border: 1px solid #CDCDCD;
}

div.post-content img,
article video,
article img {
    /* margin: 0.8em; */
    margin: 0.8em 0 0.8em 0;
    max-width: 90%;
    height: auto;
}

div.post-content blockquote.twitter-tweet, div.post-content blockquote.mastodon-toot {
    background-color: #fcfcfc;
    border: 2px solid #eaeaea;
    padding: 1em;
    border-radius: 8px 8px;
}

div.post-content blockquote.twitter-tweet, div.post-content blockquote.mastodon-toot a {
    color: #464646;
}

div.post-content code.verbatim {
    background-color: #f0f0f0;
    border-radius: 3px 3px;
    padding: 0.15em;
    margin: -0.15em;
}

footer * {
    text-align: center
}
footer ul li {
    color: #CDCDCD;
    display: inline;
    margin-right: 2em;
}

footer .view-source a, footer ul li a {
    color: #ABABAB;
}

footer .view-source {
    color: #CDCDCD;
}

div.main .teaser,
div.main aside {
    border: 1px solid #d8d8d8;
    background-color: #f2f2f2f2;
}

div.main .teaser {
    padding: 1em;
    margin: 3em;
}


article.summary {
    width: 100%
}

aside article {
    margin-bottom: 1em;
}

article blockquote {
    border-left: 1px solid #CDCDCD;
    padding-left: 2em;
    margin-left: 0;
    color: #818181;
}

aside article h2 {
    font-size: 1.2em;
    margin-top: 0;
}

nav#main ul li a {
    font-weight: bold;
    border-radius: 3px;
}
nav#main ul li.active a {
    background-color: rgb(34, 34, 34);
}

img.noborder,
.noborder * {
    border: 0 !important;
}

div.pager {
    text-align: center;
}

div.pager a {
    text-decoration: none
}

article.summary .post-meta {
    color: #cdcdcd;
}

article.summary a.anchor {
    text-decoration: none;
}

article div.post-meta {
    color: #bbb;
}
article div.post-meta a {
    text-decoration: none;
    color: inherit;
}

article div.post-meta span.social_logo {
    color: #bbb;
    fill: #bbb;
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.2em;
    vertical-align: top;
    display: inline-block;
}

.stream {
    /* width: 80%; */
    /* min-width: 10%; */
    /* max-width: 20%; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    /* align-items: center; */
    align-content: stretch;
}
.stream a {
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    /* border: 2px solid red; */
    /* height: 100%; */
    width: 100%;
    display: block;
}

.stream .h-entry {
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
    flex: 1 1 200px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;

    background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 100%);
}

.stream .h-entry.foursquare_checkin {
}
.stream .h-entry.pinboard {
}
.stream .h-entry.mastodon_toot {
    width: 30%;
}
.stream .h-entry.twitter_tweet {
    width: 30%;
}
.stream .h-entry.instagram_image {
    /* width: 40%; */
}
.stream .h-entry h2 {
    /* white-space: nowrap; */
    overflow: hidden;
}

.stream .h-entry:hover {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 31%);
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 31%);
    background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 31%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
}


.stream .twitter_tweet img,
.stream .mastodon_toot img,
.stream .pixelfed_image img,
.stream .instagram_video img,
.stream .instagram_image img {
    width: 90%;
    background-color: #fff;
}
.stream .spotify_like {
}
.stream span.social_logo {
    color: #f2f2f2;
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.2em;
    vertical-align: top;
    display: inline-block;
}

h1 span.social_logo,
h2 span.social_logo {
    color: #f2f2f2;
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.5em;
    display: inline-block;
}

ul.social_bar {
    list-style-type: none;
}

.social_bar span.social_logo {
    color: #f2f2f2;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.4em;
    margin-left: 0.2em;
    vertical-align: left;
    display: inline-block;
}
.social_bar .pixelfed_image img,
.social_bar .instagram_image img {
    width: 20%;
}

.tech-notes a {
}

.pagination {
    list-style-type: none;
    text-align: center;
}
.pagination .page-item {
    display: inline-block;
    width: 2em;
}

div.webmention-replies {
    /* clear: both; */
    display: grid;
    grid-template-columns: max-content max-content auto;

    /* flex: 1 auto; */
    /* flex-direction: column; */
    /* padding-left: 0; */
}

.webmention-replies a.author-photo {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.webmention-replies div.author-name {
    display: flex;
    align-items: center;
}

.webmention-replies div.message {
	  max-width: 65%;
	  box-sizing: border-box;
	  padding: 12px 16px;
	  font-size: 14px;
	  font-weight: 300;
}

.webmention-replies a.author-photo {
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 50px; */
    /* height: 50px; */
    /* overflow: hidden; */
    /* margin-right: 10px; */
}

.webmention-replies a.author-url, .webmention-replies a.webmention-url {
    color: inherit;
    text-decoration: none;
}

.webmention-replies a.author-url:hover, .webmention-replies a.webmention-url:hover {
    text-decoration: underline;
}

a.author-photo img {
    border-radius: 50%;
}


.tech-notes a:hover {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 31%);
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 31%);
    background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 31%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
}

div.highlight {
    border: none;
    padding: 0;
}
div.highlight pre {
    border-radius: 5px;
    padding: 0.8em;
}

article h1 {
    font-size: 1.5em;
}

article h1 .u-url {
    text-decoration: none;
    color: #222;
}

article h2 {
    font-size: 1.2em;
}

article h3 {
    font-size: 1em;
}

article pre {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    color: #efefef;
    background-color: #272822;
}

.h-card {
    display: none;
}

div.account-list-infobox {
    background-color: #fcfcfc;
    border: 2px solid #eaeaea;
    padding: 1em;
    border-radius: 8px 8px;
}

a.post-taxonomy-tag {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
