{{ partial "header.html" . }}
<body>
  {{ partial "navbar.html" . }}
  <div class="main wrapper clearfix">
    <article class="h-entry">
      <div class="post-content">
        {{ if .Params.media_url }}
          <div class="twitter-tweet">
              <p lang="de" dir="ltr">{{ .Params.text | markdownify }}</p>
              <div class="post-content e-content">
                <a href="{{ .Params.media_url }}"><img src="{{ .Params.media_url }}"></a>
              </div>
          </div>
          {{ else }}
          <blockquote class="twitter-tweet">
              <p lang="de" dir="ltr">{{ .Params.text | markdownify }}</p>
          </blockquote>
          {{ end }}
      </div>
      <div class="post-meta">
        <a class="u-syndication" href="{{ default .Params.original_url .Params.src }}">{{partial "social_logo" . }}</a>&middot;
        <a href="{{ .Permalink }}">{{.Date.Format "2006-01-02" }}</a>&middot;
        {{ partial "tags.html" . }}
        <div><a href="/posts/twitter/">/posts/twitter/</a></div>
      </div>
      {{ partial "webmentions.html" . }}
      {{ $related := .Site.RegularPages.Related . | first 5 }}
      {{ with $related }}
      <details open=""><summary><h3>Ähnliche Beiträge</h3></summary>
      <ul>
	        {{ range . }}
	        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	        {{ end }}
      </ul>
      {{ end }}
      </details>
    </article>
  </div>
  {{ partial "pager.html" . }}
  {{ partial "footer.html" . }}
</body>
</html>
