{{ partial "header.html" . }}
<body>
  {{ partial "navbar.html" . }}
  <div class="main wrapper clearfix">
      <h1><span class="social_logo">{{ partial "social_logo" . }}</span>{{ .Title }}</h1>
    <article>
      <div class="post-content">
        Swarm check-in at {{ .Params.text }}
        {{ if .Params.location_latitude }}
        <a href="https://www.openstreetmap.org/search?query={{.Params.location_latitude }},{{.Params.location_longitude }}">🌐</a>
        <img src="https://img.bascht.com/proxy/800,webp/https://maps.bascht.space/img.php?basemap=stamen-toner-lite&width=800&height=500&zoom=12&longitude={{.Params.location_longitude }}&latitude={{.Params.location_latitude }}&marker[]=lng:{{.Params.location_longitude }};lat:{{.Params.location_latitude }};icon:dot-small-blue"/>
        {{- end -}}
        <hr/>
      </div>
      <div class="post-meta">
        <a href="{{ default .Params.original_url .Params.src }}">{{partial "social_logo" . }}</a>&middot;
        <a href="{{ .Permalink }}">{{.Date.Format "2006-01-02" }}</a>&middot;
        {{ if .Params.location_latitude }}
        <a href="https://www.openstreetmap.org/search?query={{.Params.location_latitude }},{{.Params.location_longitude }}">🌐</a>
        {{ end }}
        {{ partial "tags.html" . }}
        <div><a href="/posts/foursquare/">/posts/foursquare/</a></div>
      </div>
    </article>
  </div>
  {{ partial "pager.html" . }}
  {{ partial "footer.html" . }}
</body>
</html>
