<hr/>
<div class="footer-container">
  <footer class="wrapper">
    <ul>
      <li>Twitter: <a href="https://twitter.com/bascht" rel="me">@bascht</a></li>
      <li>GitHub: <a href="https://github.com/bascht" rel="me">@bascht</a></li>
      <li class="hidden">Instagram: <a href="https://instagram.com/bascht" rel="me">@bascht</a></li>
      <li class="hidden">Mastodon: <a href="https://social.yakshed.org/@bascht" rel="me">@bascht@social.yakshed.org</a></li>
      <li>Xing: <a href="https://www.xing.com/profile/Sebastian_Schulze10/N52.057a44">Sebastian Schulze</a></li>
    </ul>
    <div class="view-source">
        <a href="https://github.com/bascht/bascht.com/tree/bascht.com/content/{{.Page.File.Path}}">Source-Code</a> und <a href="https://github.com/bascht/bascht.com/commits/bascht.com/content/{{.Page.File.Path}}">History</a> dieser Seite
    </div>
  </footer>
</div>
