<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="de-de">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Title }}</title>
  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description | plainify | chomp}}{{end}}" />

  <link rel="preload" href="{{ .Site.BaseURL }}fonts/woff/roboto_slab.woff" as="font" type="font/woff2" crossorigin>
  {{ $css := resources.Match "css/**.css" | resources.Concat "combined.css" | minify | fingerprint -}}
  <link rel="preload" as="style" href="{{ $css.Permalink }}">
  <link rel="stylesheet" href="{{ $css.Permalink }}">
  <link rel="micropub" href="https://pub.bascht.com/micropub">
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
  <link rel="webmention" href="https://webmention.io/bascht.com/webmention" />
  <link rel="pingback" href="https://webmention.io/bascht.com/xmlrpc" />
  <link rel="dns-prefetch" href="//img.bascht.com">
  <link rel="pgpkey" href="https://bascht.com/key.asc">
  <link rel="feed" type="text/html" title="All my social Media Posts" href="{{ .Site.BaseURL }}posts/" />
  <link rel="feed" type="text/html" title="My Instagram Posts" href="{{ .Site.BaseURL }}posts/instagram/" />
  <link rel="feed" type="text/html" title="My Tweets" href="{{ .Site.BaseURL }}posts/twitter/" />
  <link rel="feed" type="text/html" title="My Toots" href="{{ .Site.BaseURL }}posts/mastodon/" />
  <link rel="feed" type="text/html" title="My Spotify Likes" href="{{ .Site.BaseURL }}posts/spotify/like/" />
  <link rel="feed" type="text/html" title="My Foursquare Checkins" href="{{ .Site.BaseURL }}posts/foursquare/checkin/" />
  <link rel="feed" type="text/html" title="My Pinboard Pins" href="{{ .Site.BaseURL }}posts/pinboard/" />

  {{ template "_twitter_cards.html" . -}}
  {{ template "_opengraph.html" . -}}
  <link rel="icon" href="/favicon.ico" />
  
  {{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
  {{ end -}}
</head>
