<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" xml:lang="de" lang="de-de">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Title }}</title>
  <meta name="description" content="{{/*{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}*/}}">

  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/normalize.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bascht.com.css">
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
  <link href="https://micro.blog/bascht" rel="me" />
  <link href="https://rss.bascht.space/nanopub/nanopub.php" rel="micropub">
  <link rel="webmention" href="https://feed.bascht.com/wp-json/webmention/1.0/endpoint" />
  <link rel="http://webmention.org/" href="https://feed.bascht.com/wp-json/webmention/1.0/endpoint" />
  <link rel="icon" href="/favicon.ico" />
  <script src="/js/vendor/modernizr.min.js"></script>
  {{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
  {{ end -}}
  <link href="http://feeds.feedburner.com/baschtcom" rel="alternate" title="bascht.com" type="application/atom+xml">
</head>
