{{ $urlChecksum := sha256 (printf "https://bascht.com%s" (.Permalink | relURL)) }}

{{ $webmentions := slice }}
  {{ range $webmentions_data := index .Site.Data.webmentions $urlChecksum }}
  {{ $webmentions = $webmentions | append $webmentions_data }}
{{ end }}

{{ $likes := where $webmentions ".post.wm-property" "like-of" }}
{{ $mentions := where $webmentions ".post.wm-property" "mention-of" }}
{{ $replies := where $webmentions ".post.wm-property" "in-reply-to" }}

{{ if $likes }}
  <h3>Reaktionen</h3>
  {{ range sort $likes "post.published" "asc" }}
  <a class="author-photo" href="{{ .post.author.url }}"><img style="width: 30px" alt="Avatar von {{ .post.author.name }}" title="Like von {{ .post.author.name }}" src="{{ .post.author.photo }}"></a>
  {{ end }}
{{ end }}

{{ if $mentions }}
  <h3>Mentions</h3>
  <div class="webmentions">
  {{ range $mention := $mentions }}
  {{ $mentionUrl := urls.Parse $mention.post.url }}
      <div class="webmention">
  <a class="author-photo" href="{{ $mention.post.author.url }}"><img style="width: 30px" alt="Avatar von {{ $mention.post.author.name }}" title="Erwähnt von {{$mention.post.author.name}} auf {{ $mentionUrl.Host }}" src="{{ $mention.post.author.photo }}"></a> auf <a href="{{ $mention.post.url }}">{{ $mention.post.url }}</a>
  </div>
  {{ end }}
  </div>
{{ end }}

{{ if $replies }}
<h3>Antworten</h3>
<div class="webmention-replies">
{{ range sort $replies "post.published" "asc" }}
        <a href="{{ .post.author.url }}" class="author-photo"><img style="width: 30px" src="{{ .post.author.photo }}"></a>
        <div class="author-name"><a class="author-url" href="{{.post.author.url}}">{{ .post.author.name }}</a>:</div>
        <div class="message">
            <p><a class="webmention-url" href="{{.post.url}}">{{ .post.content.text }}</a></p>
        </div>
{{ end }}
</div>
{{ end }}

<hr>
<a href=" https://quill.p3k.io/?dontask=1&me=https%3A%2F%2Fcommentpara.de%2F&reply={{ .Permalink }}">Jetzt kommentieren</a>
