{{ partial "header.html" . }}
<body>
  {{ partial "navbar.html" . }}
  <div class="main wrapper clearfix">
    <article>
      <img align="left" src="/images/bascht.jpg">
      Mein Name ist <strong>Bascht</strong>. Ich bin hauptsächlich Mensch,
      Christ, Dipl.-Ing. für Multimediatechnik, Musikliebhaber. Als
      freiberuflicher Infrastruktur- &amp; Webentwickler beschäftige ich
      mich mit <a href="http://www.ruby-lang.org">Ruby</a> &amp; <a href="https://puppetlabs.com/">Puppet</a>
      und bändige diverse virtuelle und reale Linuxe. Liebend gern bewege
      ich mich in real existierenden sozialen Netzwerken wie der
      <a href="http://www.freundearbeit.de">Freundearbeit</a>,
      dem <a href="http://www.ccc.org">CCC</a>
      und der <a href="http://munich.onruby.de">Rubyshift Munich</a>.
      Musikalisch fühle ich mich irgendwo zwischen Hardcore und Jazz zu Hause, spiele Gitarre und ein
      KORG nanoKEY (letzteres noch mehr schlecht als recht). Falls ihr mir nicht im echten Leben begegnen möchtet, gibt es hier eine
      breite Auswahl sozialer Netzwerke, in denen ihr mich stalken könnt. Sonst freue ich mich natürlich immer
      über Kommentare in meinem <a href="/blog/" title="Mein Blog">Blog</a>.<br></p>

<p>Viel Spaß dabei.</p>

<p><img class="borderless"
        src="/images/bascht_unterschrift.gif"></p>
</article>
<aside>
  <h5>Aktueller Blog-Post: </h5>
  {{ range first 1 .Data.Pages }}

  {{ .Render "summary"}}

  {{ end }}

</aside>


</div>
{{ partial "footer.html" . }}
</body>
</html>
