{{ partial "header.html" . }}
<body>
  {{ partial "navbar.html" . }}
  <div class="main wrapper clearfix">
    <div class="post-content">

      <img align="left" style="margin-top: 0;" src="/images/bascht.jpg">

      <h4>Hallo!</h4>
      Mein Name ist <strong>Bascht</strong>. Ich bin hauptsächlich Mensch,
      Christ, Dipl.-Ing. für Multimediatechnik, Musikliebhaber. Als
      freiberuflicher Infrastruktur- &amp; Webentwickler beschäftige ich
      mich mit <a href="http://www.ruby-lang.org">Ruby</a> &amp; <a href="https://puppetlabs.com/">Puppet</a>
      und bändige diverse virtuelle und reale Linuxe. Liebend gern bewege
      ich mich in real existierenden sozialen Netzwerken wie der
      <a href="http://www.freundearbeit.de">Freundearbeit</a>,
      dem <a href="http://www.ccc.org">CCC</a>
      und der <a href="http://munich.onruby.de">Rubyshift Munich</a>.
      Musikalisch fühle ich mich irgendwo zwischen Hardcore und Jazz zu Hause, spiele Gitarre und ein
      KORG nanoKEY (letzteres noch mehr schlecht als recht).
      Viel Spaß beim stöbern!



<p class="noborder"><img src="/images/bascht_unterschrift.gif"></p>
</div>
<div class="teaser">

  <h5>Aktueller Blog-Post: </h5>
  {{ range first 1 (where .Data.Pages "Section" "blog") }}
  <h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
  <div class="post-meta">{{ .Date.Format "02.01.2006" }} - {{ .FuzzyWordCount }} Wörter </div>

  {{ .Summary }}

  <footer>
    <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
  </footer>

  {{ end }}

</div>

</div>
{{ partial "footer.html" . }}
</body>
</html>
