{{ partial "header.html" . }}
<body>
  {{ partial "navbar.html" . }}
  <div class="main wrapper clearfix">
    <h1><span class="social_logo">{{ partial "social_logo" . }}</span>{{ .Title | truncate 40 }}</h1>
    <article>
      <div class="post-content">
          <p><iframe src="{{ .Params.original_url }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p>
{{ .Params.text  }}
        <hr/>
        via <a href="{{ .Params.original_url }}">{{ .Params.original_url }}</a>
      </div>
       Mentions {{ partial "webmentions.html" . }}
    </article>
    <aside>
      <h4>Posted</h4> {{ .Date.Format "January, 02th 2006" }}
      <h4>Tags</h4> {{ partial "tags.html" . }}
      <hr/>
      📂 <a href="/tech/">Tech-Archive</a>
    </aside>
  </div>
  {{ partial "pager.html" . }}
  {{ partial "footer.html" . }}
</body>
</html>
