<ul>
  <% blog(:bascht).articles.group_by {|a| a.date.year }.each do |year, articles| %>
    <li>
      <h5><%= link_to year, blog_year_path(year, :bascht) %></h5>
      <ul>
        <% articles.group_by {|a| a.date.month }.each do |month, article| %>
          <li><%= link_to I18n.localize(Time.new(year, month), :format => "%B"), blog_month_path(year, month, :bascht) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

