{{ partial "header.html" . }}
<body>
    {{ partial "navbar.html" . }}
    <div class="main wrapper clearfix h-feed">

        {{ $paginator := .Paginate ((where .Data.Pages "Section" "posts").GroupByDate "January 2006")  100}}
        {{ range $paginator.PageGroups }}
        <h2>{{ .Key }}</h2>
        <div class="posts summary clearfix">
            {{ range .Pages.ByDate.Reverse }}
            <div class="h-entry {{ .Params.type }}">
                {{ .Render "summary" }}
            </div>
            {{ end }}
        </div>
        {{ end }}
        {{ template "_internal/pagination.html" . }}
    </div>
    {{ partial "footer.html" . }}
</body>
</html>
