{{ partial "header.html" . }}
<body>
  {{ partial "navbar.html" . }}
  <div class="main wrapper clearfix">
    <h1>Toot from {{ .Date.Format "January, 02th 2006" }}</h1>
    <article>
      <div class="post-content">
          <blockquote class="mastodon-toot">
              <p lang="de" dir="ltr">{{ .Params.text | markdownify }}</p>
              {{ if .Params.media_url }}
              <div class="post-content e-content">
                  <a href="{{ .Params.media_url }}"><img src="{{ .Params.media_url }}"></a>
              </div>
              {{ end }}
              &mdash; Bascht (<a href="https://social.yakshed.org/@bascht">@bascht</a>)
          </blockquote>
      </div>
      Originally posted to <a href="{{ default .Params.original_url .Params.src }}">{{ default .Params.original_url .Params.src }}</a>
      {{ partial "webmentions.html" . }}
      {{ $related := .Site.RegularPages.Related . | first 5 }}
      {{ with $related }}
      <h3>Ähnliche Beiträge</h3>
      <ul>
	        {{ range . }}
	        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	        {{ end }}
      </ul>
      {{ end }}
    </article>
    <aside>
      <h4>Posted</h4> {{ .Date.Format "January, 02th 2006" }}
      <h4>Tags</h4> {{ partial "tags.html" . }}
      <hr/>
      📂 <a href="/posts/mastodon/">Mastodon-Archive</a>
    </aside>
  </div>
  {{ partial "pager.html" . }}
  {{ partial "footer.html" . }}
</body>
</html>
