{{ partial "header.html" . }}
<body>
  {{ partial "navbar.html" . }}
  <div class="main wrapper clearfix">
    <article>
      <div class="post-content">
        {{ if .Params.media_url }}
          <div class="mastodon-toot">
              <p lang="{{ .Params.lang | default "en" }}" class="post-content e-content" dir="ltr"><h3>{{ .Params.text | markdownify }}</h3></p>
              <div class="post-content e-content">
                {{ if strings.HasSuffix .Params.media_url ".mp4" -}}
                <video autoplay="autoplay" controls="controls" src="{{ .Params.media_url }}"></video>
                {{ else if .Params.media_url -}}
                <a href="{{ .Params.media_url }}"><img src="{{ .Params.media_url }}"></a>
                {{end}}
              </div>
          </div>
          {{ else }}
          <blockquote class="mastodon-toot">
              <p lang="{{ .Params.lang | default "en" }}"  dir="ltr">{{ .Params.text | markdownify }}</p>
          </blockquote>
          {{ end }}
      </div>
      <div class="post-meta">
        <a href="{{ default .Params.original_url .Params.src }}">{{partial "social_logo" . }}</a>&middot;
        <a href="{{ .Permalink }}">{{.Date.Format "2006-01-02" }}</a>&middot;
        {{ partial "tags.html" . }}
        <div><a href="/posts/mastodon/">/posts/mastodon/</a></div>
      </div>
      {{ partial "webmentions.html" . }}
      {{ $related := .Site.RegularPages.Related . | first 5 }}
      {{ with $related }}
      <h3>Ähnliche Beiträge</h3>
      <ul>
	        {{ range . }}
	        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	        {{ end }}
      </ul>
      {{ end }}
    </article>
  </div>
  {{ partial "pager.html" . }}
  {{ partial "footer.html" . }}
</body>
</html>
